/*
#MAIN
*/
.main-grid-settings-window-list .main-grid-settings-window-list-item-checkbox{
	margin: 0 7px;
}

.doc_title {
	font-size: 0.9rem;
	margin-bottom: 0.4rem;
	font-weight: 500;
	line-height: 1.2;
	min-height: 25px;
}

.table .doc_status,
.table .doc_status p,
.doc_status,
.doc_status p,
.doc_status span {
	font-size: 13px !important;
	line-height: 120% !important;
}

.popup_moderator {
	width: 570px;
	height: 290px;
	background: white;
	z-index: 100;
	padding: 27px 27px 0 27px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform: scale(0);
	transition: .4s;
	border-radius: 42px;
}

.popup_moderator_all {
	width: 570px;
	height: 290px;
	background: white;
	z-index: 100;
	padding: 27px 27px 0 27px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform: scale(0);
	transition: .4s;
	border-radius: 42px;
}

.active_popup_moderator {
	transform: scale(1);
}

.bg_popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .7);
	display: none;
}

.doc_status a {
	font-size: 13px
}

.btn_no {
	display: inline-block !important;
	background: #d40027;
	border-radius: 42px;
	width: 100%;
	border: none;
	display: block;
	color: #FFFFFF;
	border-color: #d40027 !important;
	color: #d40027 !important;
}

.btn_no:hover {
	background: #d40027 !important;
	color: #FFFFFF !important;
}

.btn_no_all {
	display: inline-block !important;
	background: #d40027;
	border-radius: 42px;
	width: 100%;
	border: none;
	display: block;
	color: #FFFFFF;
}

.btn_yes {
	display: inline-block !important;
	background: #008e35;
	border-radius: 42px;
	width: 100%;
	border: none;
	display: block;
	/* color: #FFFFFF; */
	border-color: #008e35 !important;
	color: #008e35 !important;
}

.btn_yes:hover {
	background: #008e35 !important;
	color: #FFFFFF !important;
}

.btn_yes,
.btn_no,
.btn_no_all {
	max-width: 130px;
	font-size: 13px;
	padding: 4px 5px;
	max-height: 40px;
}

.btn_yes i,
.btn_no i,
.btn_no_all i {
	line-height: 20px
}

.btn_yes_all {
	display: inline-block !important;
	background: #008e35;
	border-radius: 42px;
	width: 100%;
	height: 25px;
	border: none;
	display: block;
	color: #FFFFFF;
}

.btn_send {
	margin-top: 10px !important;
	height: 50px !important;
}

.btn_send_all {
	margin-top: 10px !important;
	height: 50px !important;
}

.forCheckbox {
	width: 190px;
	display: none;
}

.btn_checkbox_yes {
	width: 90px;
	float: left;
	margin-top: 20px;
}

.btn_checkbox_no {
	width: 90px;
	float: right;
	margin-top: 20px;
}

.moder_item,
.main-grid-row {
	line-height: 1.3;
}

.moder_item td {
	border-bottom: 1px dotted #d1d1d1;
	padding-bottom: 10px;
	padding-top: 10px;
}

.moder_item:last-child td,
.main-grid-row:last-child td {
	border-bottom: none;
}

.user_photo {
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
	margin-right: 10px;
	background-color: #1668CE;
	font-weight: 500;
}

.icon_file {
	border-radius: 42px;
	border-color: #1668CE !important;
}

.info_item_inner li,
.info_status_inner {
	font-size: 14px;
	line-height: 130%;
	font-weight: 500;
}

.info_status_inner {
	font-weight: 400;
}

.info_status_inner:before {
	transform: scale(.8);
	top: unset !important;
	left: unset !important;
}

.info_status_inner.info_item_date span {
	padding-left: 20px;
}

.status_header {
	min-height: 38px;
}

.moder_item .status,
.main-grid-row .status {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 12px;
	min-height: 45px;
	line-height: 1.3;
	max-width: 120px;
	/* min-width: 140px; */
}

.moder_item .info_item_inner>span>span,
.main-grid-row .info_item_inner>span>span {
	font-size: 15px;
	line-height: 130%;
}

.info_item_inner {
	position: relative;
}

.main-ui-filter-search {
	/* height: 45px; */
	border-color: #c8d1d6 !important;

}

.main-grid .main-grid-row-body {
	font-family: 'Montserrat', sans-serif !important;
}

.moder_item .info_item_date::before,
.moder_item .info_item_classes::before,
.moder_item .info_item_category::before,
.main-grid-row .info_item_date::before,
.main-grid-row .info_item_classes::before,
.main-grid-row .info_item_category::before {
	top: 0;
	bottom: 0;
	margin: auto;
}

.main-grid .main-grid-cell-content {
	margin: 15px 7px 10px 5px;
	font-size: 0.95rem;
	font-weight: 500;
}

.main-grid-row .main-grid-cell i {
	margin-right: 2px;
}

.main-grid-cell .info_item_date {
	font-size: 16px;
}

.main-grid-cell .user_title {
	font-size: 0.95rem;
}

.main-grid-cell .info_item_date>span {
	padding-left: 20px;
}

.main-grid-cell .info_item_date::before {
	width: 12px;
	height: 12px;
	background-size: cover;
}

.main-grid-cell .main-grid-cell-content a:hover {
	text-decoration: none;
}

.main-grid .main-grid-cell-head-container {
	padding: 10px 5px 5px;
}


.main-grid .main-grid-cell-head-container .main-grid-head-title {
	font-weight: bold;
	font-size: 1rem;
}

.tabs_inner .main-ui-filter-search .main-ui-filter-search-square .main-ui-square-item {
	max-width: 300px;
}

.icon_file .image {
	font-size: 1.75rem;
	color: #1668CE;
	line-height: 1;
}