/* LK */
.ui-btn.ui-btn-dropdown:after {
	border: none;
}

.ui-btn-light-border {
	--bs-btn-border-color: rgb(var(--ui-field-color-border-default));
	border-radius: var(--ui-border-radius-2xs);
}

.ui-btn-light-border:hover {
	--bs-btn-border-color: var(--ui-field-color-primary);
}


#specialButton i {
	height: 20px;
}

.ui-btn {
padding: 0 10px;
}

/* pagination */
.main-grid .main-grid-nav-panel a{
	color: var(--ui-link-color);
}

@media (min-width: 1600px) {
    .container-xxl {
        max-width: 1620px;
    }
}

.site-container .ui-ctl-element.form-control{
border-radius: var(--ui-border-radius-2xs);
}

.site-container .ui-ctl-element.form-control:focus{
box-shadow: none;
}

.bootstrap-select .dropdown-toggle .filter-option{
height: unset;
}

.main-grid-empty-image{
width: 40px;
height: 55px;
margin-bottom: 10px;
}
.main-grid-empty-text{
font-size: 22px;
}

.modal-backdrop{
--bs-backdrop-zindex: 1040;
}
.modal {
    --bs-modal-zindex: 1050;
}

/* .popup-window{
z-index: 9050 !important;
} */